.table-title{
  font-size: 14px;
  color: rgb(102, 102, 102);
  padding-bottom: 20px;
  padding-left: 20px;
}

.table-container{
  padding-right: 20px;
}

.table-val{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
}

.table-subTitle{
  color: rgb(102, 102, 102);
}

.table-value{
  color: rgb(138, 59, 183);
  padding-left: 30px;
}
