{
  "extends": "eslint-config-ali/react",
  "parser": "babel-eslint",
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "strict": "off",
    "no-console": "off",
    "require-yield": "off",
    "import/no-dynamic-require": "off",
    "react/prefer-stateless-function": "off",
    "react/forbid-prop-types": "off",
    "class-methods-use-this": "off",
    "comma-dangle": "off",
    "react/require-default-props": "off"
  }
}
