.segment-container{
  padding: 20px;
}

.segment-line{
  border-color: rgb(204, 204, 204);
  background: rgb(204, 204, 204);
  border-style: dotted;
  border-width: 1px;
  border-radius: 2px;
  opacity: 0.5;
  box-shadow: none;
  margin-left: 20px;
  margin-right: 20px;
}
