.common-title-style {
  // display: flex;
  margin-bottom: 30px;
  .seperator {
    float: left;
    display: inline-block;
    width: 4px;
    height: 20px;
    border-radius: 2px;
    background-color: #4b76ff;
    margin: 4px 0;
  }
  span {
    display: inline-block;
    font-size:20px;
    color:#abb9c8;
    padding-left: 8px;
  }
}
@media screen and (max-width: 1490px) {
  .common-title-style {
    margin-bottom: 20px;
    .seperator {
      height: 15px;
    }
    span {
      font-size: 16px;
    }
  }
}
